<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/output.css">
</head>

<body >
  <%- include('./partials/nav') %>
 <div class=" flex items-center justify-center min-h-screen">

  <div class="bg-gray-200 shadow-xl rounded-2xl p-8 w-full max-w-md">
    
    <h1 class="text-2xl font-bold text-center text-blue-500 mb-6">
      Find Nearest Schools
    </h1>

    <form action="/listSchool" method="POST" class="space-y-4">

      <input 
        type="text" 
        name="address"
        placeholder="address"
        class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-red-400"
        required
      >

      <input 
        type="text" 
        name="city"
        placeholder="city"
        class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-red-400"
        required
      >

      <input 
        type="number" 
        step="any" 
        name="latitude"
        placeholder="Enter Your Latitude (e.g. 28.61)"
        class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
        required
      >

      <input 
        type="number" 
        step="any" 
        name="longitude"
        placeholder="Enter Your Longitude (e.g. 77.20)"
        class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
        required
      >
      <button 
        type="submit"
        class="w-full bg-blue-500 text-white py-3 rounded-lg font-semibold hover:bg-blue-600 transition duration-300"
      >
        Find Schools
      </button>

    </form>

  </div>
</div>
</body>
</html>